body {
    background-color: floralwhite !important;
    background-image: url('/img/harambe.jpg');
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.5);
    color: white !important;
    font-size: 18px !important;
}

a {
    color: #ffb900 !important;
}

input {
    color: #333333 !important;
}